.main {
  flex-grow: 2;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.display-middle {
  flex-grow: 2;
  text-align: center;

  max-width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
