.footer {
  bottom: 0;
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 1.5rem;
}

.footer-link {
  color: whitesmoke;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}
